.form_text {
	 border-radius: 5px;
	 margin: auto;


    
    padding: 5px; 
   
}


.error_message {
	color: red;

}


.heading {
	margin-bottom: 50px ; 
	
}

.submit_button {
	
}

.clear_button {

}

.bod {
	background-color: red;
}
